.popup__save-button {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  background: rgb(0, 0, 0);
  border-radius: 2px;
  width: 358px;
  height: 50px;
  margin: 0 36px 37px 36px;
  box-sizing: border-box;
  border: 0;
  transition: opacity .8s linear;
}

@media screen and (max-width: 540px) {
  .popup__save-button {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin: 0 22px 25px 22px;
  }
}

.popup__save-button:hover {
  background: rgba(0, 0, 0, .8);
  cursor: pointer;
  opacity: .8;
}
