.profile__edit {
  height: 10px;
  width: 10px;
  padding: 6px;
  border: 1px solid #FFFFFF;
}

@media screen and (max-width: 420px) {
  .profile__edit {
    height: 7.5px;
    width: 7.5px;
    padding: 4.25px;
  }
}

.profile__edit:hover {
  opacity: .6;
}
